@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,600&display=swap');

/* font-family: 'Bree Serif', serif;
font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background: #fff;
}

header {
    height: 900px;
    background: url(../img/header/background.jpg) top center/cover no-repeat;
}

.logo-container {
    cursor: pointer;
}

.header-block {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
}

.social-icon {
    display: flex;
    align-items: center;
    padding-left: 840px;
}

.social-icon div {
    padding-right: 35px;
}

.social-icon img:hover {
    filter: invert(1);
    transition: all ease-in-out .3s;
}

.social-icon img {
    transition: all ease-in-out .3s;
}

.hamburger-menu {
    background-color: rgb(38, 42, 52);
    position: relative;
    width: 51px;
    height: 5px;
    transition: all ease .2s;
    cursor: pointer;
}

.hamburger-menu::before {
    position: absolute;
    background-color: rgb(38, 42, 52);
    content: "";
    top: -10px;
    width: 51px;
    height: 5px;
    transition: all ease .3s;
}

.hamburger-menu::after {
    position: absolute;
    background-color: rgb(38, 42, 52);
    content: "";
    top: 10px;
    width: 51px;
    height: 5px;
    transition: all ease .3s;
}

.hamburger-menu:hover {
    background-color: #67e6e0;
    transition: all ease .2s;
}

.hamburger-menu:hover::before {
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    transition: all ease .3s;
}

.hamburger-menu:hover::after {
    transform: rotate(-45deg);
    position: absolute;
    top: 1px;
    transition: all ease .3s;
}

.header-text-block {
    padding-top: 274px;
    padding-left: 490px;
    
}

.header-text .h1-text {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 82px;
    line-height: 66px;
    letter-spacing: 3px;
}

.header-text h1 span {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 46px;
}

.header-text p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 52px;
    padding-right: 50px;
    font-size: 14px;
    font-weight: 400;
}

.header-button {
    padding-top: 73px;
}

.header-button a {
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    padding: 18px 38px;
    margin-right: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: all ease .3s;
}

.header-button a:hover {
    background-color: #000;
    border: 2px solid #000;
    transition: all ease .3s;
}

main {
    background-color: #fcfcfc;
}

#main-block-1 {
    max-width: 1140px;
    margin: 0 auto;
    height: 890px;
}

.service-block-top {
    display: flex;
    justify-content: center;
    padding: 0 370px 0 323px;
    padding-top: 142px;
}

.service-text-block-who h2, .work-block h2 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 51px;
    font-weight: 400;
    padding-bottom: 17px;
}

.lines {
    margin: 0 auto;
    background-color: #94d3cf;
    position: relative;
    width: 20px;
    height: 1px;
    transform: rotate(30deg);
}

.lines::before {
    position: absolute;
    background-color: #94d3cf;
    content: "";
    left: -10px;
    bottom: -5px;
    width: 20px;
    height: 1px;
}

.lines::after {
    position: absolute;
    background-color: #94d3cf;
    content: "";
    left: 10px;
    bottom: 5px;
    width: 20px;
    height: 1px;
}

.service-text-block-who p, .work-block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 21px;
    color: #969595;
}

.service-block-bot {
    display: flex;
    justify-content: center;
    padding-top: 125px;
}

.service {
    display: flex;
    justify-content: space-between;
}

.service div {
    margin: 0 10px 0 10px;
    padding-top: 51px;
    width: 270px;
    height: 331px;
    text-align: center;
    transition: all ease .3s;
}

.service div a {
    display: block;
    padding-top: 51px;
    width: 53px;
    height: 73px;
    border: 1px solid #f1f1f1;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    margin: 0 auto;
}

.service div img {
    display: block;
    margin: -24px auto;
}

.service div:hover a {
    background-color: #67e6e0;
    transition: all ease .3s;
}

.service div:hover img {
    filter: brightness(0) invert(1);
} 

.service div:hover {
    box-shadow: 0 8px 15px rgba(121, 121, 121, 0.1);
    transition: all ease .3s;
    background-color: #fff;
} 

.service div h3, .service div p {
    padding-top: 48px;
}

.service div h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.service div p {
    padding-left: 44px;
    padding-right: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #b2b1b1;
}

#main-block-2 {
    background: url(../img/main/bg-main-2.png) top center/contain no-repeat;
    height: 860px;
}

.about-block {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

.about-block-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-block-left {
    width: 620px;
    padding: 200px 0 0 100px;
}

.about-block-left h2 {
    padding-bottom: 30px;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 400;
    color: #fff;
}
  
.about-block-left p {
    padding-bottom: 92px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}

.about-block-left a {
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    padding: 18px 38px;
    margin-right: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    transition: all ease .3s;
}

.about-block-left a:hover {
    background-color: #67e6e0;
    border: 2px solid #67e6e0;
    transition: all ease .3s;
}

.about-block-right {
    display: flex;
}

.about-nav {
    display: flex;
    padding-top: 670px;
    padding-left: 38px;
}

.about-slide {
    background-color: rgb(255, 255, 255);
    width: 26px;
    height: 14px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    position: relative;
}

.about-slide::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    right: 40px;
    opacity: 0.5;
}

.about-slide::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    left: 40px;
    opacity: 0.5;
}

.about-slide-right {
    background-color: rgb(255, 255, 255);
    margin-left: 42px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    opacity: 0.5;
}

.about-phone {
    padding-left: 90px;
    padding-top: 115px;
}

#main-block-3 {
    max-width: 1140px;
    height: 1222px;
    display: flex;
}

.work-block {
    padding: 185px 323px 0 323px;
}

.work-block-title p {
    padding-bottom: 115px;
}

.work-block-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.work-block-nav a{
    color: #000;
    padding: 15px 30px;
    margin: 0 4px 0 4px;
    background-color: #e6e5e5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all ease .3s;
}

.work-block-nav a:hover {
    background-color: #67e6e0;
    color: #fff;
    transition: all ease .3s;
}

.work-block-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1222px;
    margin-top: 48px;
}

.work-block-gallery div {
    margin: 3px;
    width: 386px;
    height: 235px;
}

.work-block-gallery .gallery-1 {
    background-image: url(../img/main/gallery-1.png);
    position: relative;
}

.work-block-gallery .gallery-2 {
    background-image: url(../img/main/gallery-2.png);
    position: relative;
}

.work-block-gallery .gallery-3 {
    background-image: url(../img/main/gallery-3.png);
    position: relative;
}

.work-block-gallery .gallery-4 {
    background-image: url(../img/main/gallery-4.png);
    position: relative;
}

.work-block-gallery .gallery-5 {
    background-image: url(../img/main/gallery-5.png);
    position: relative;
}

.work-block-gallery .gallery-6 {
    background-image: url(../img/main/gallery-6.png);
    position: relative;
}

.work-block-gallery .gallery-1:hover::before, .work-block-gallery .gallery-2:hover::before, .work-block-gallery .gallery-3:hover::before, .work-block-gallery .gallery-4:hover::before, .work-block-gallery .gallery-5:hover::before, .work-block-gallery .gallery-6:hover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(103, 230, 224, .8);
}

.work-block-gallery .gallery-1:hover::after, .work-block-gallery .gallery-2:hover::after, .work-block-gallery .gallery-3:hover::after, .work-block-gallery .gallery-4:hover::after, .work-block-gallery .gallery-5:hover::after, .work-block-gallery .gallery-6:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 0;
    right: 0;
    background: url(../img/main/icon-gallery-search.png) no-repeat;
}


  


  
  
  
  
  
  
  

  